<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <!-- COPY -->
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">Hallo <%= @user.firstname %> <%= @user.lastname %>.</td>
                </tr>
                <tr>
                    <td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
                      vielen Dank für deine Idee. Diese wird gerade geprüft.<br/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <!-- BULLETPROOF BUTTON -->
            <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                <tr>
                    <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                            <tr>
                                <td align="center"><a href="<%= @base_url %>/<%= @cta_link %>" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #015281; border-top: 15px solid #015281; border-bottom: 15px solid #015281; border-left: 25px solid #015281; border-right: 25px solid #015281; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">Zur Pinnwand &rarr;</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
