Hey <%= @user.firstname %> <%= @user.lastname %>,

Du oder jemand anderes hat ein neues Passwort für die Smart Wendeler Land Plattform angefordert.

Bitte klicke auf diesen Link um Dein Passwort zurück zu setzen:

<%= @base_url %>/password_reset?token=<%= @user.password_token %>

Wenn Du diese Anfrage nicht gestellt hast kontaktiere uns bitte schnellstmöglich.

Viele Grüße
dein Team vom Smart Wendeler Land
