Hey <%= @user.firstname %> <%= @user.lastname %>,

Du hast dich erfolgreich zur Smart Wendeler Land Projektplattform registriert!
Melde Dich mit Deiner E-Mail und folgendem Passwort<% if @user.registration_source == 'app' %> in der App<% end %> an:

<%= @user.password %>

<% if @user.registration_source == 'web' %>
<%= @base_url %>/login
<% end %>

Viele Grüße
das Team von Smart Wendeler Land

