Hey <%= @user.firstname %> <%= @user.lastname %>,<br/>
<br/>
Du oder jemand anderes hat ein neues Passwort für die Smart Wendeler Land Plattform angefordert.<br/>
<br/>
Bitte klicke auf diesen Link um Dein Passwort zurück zu setzen:<br/>
<br/>
<a href="<%= @base_url %>/password_reset?token=<%= @user.password_token %>">Passwort zurücksetzen</a>
<br/>
<br/>
Wenn Du diese Anfrage nicht gestellt hast kontaktiere uns bitte schnellstmöglich.<br/>
<br/>
Viele Grüße<br/>
dein Team vom Smart Wendeler Land

