Hey <%= @user.firstname %> <%= @user.lastname %>,<br/>
<br/>
du hast dich erfolgreich zur Smart Wendeler Land Projektplattform registriert!<br/>
Melde dich mit deiner E-Mail und folgendem Passwort<% if @user.registration_source == 'app' %> in der App<% end %> an:<br/>
<div align="center" style="font-size:32px;font-weight:bold; border:1px solid grey;border-radius:20px; padding: 7px; margin: 15px;"><%= @user.password %></div>

<% if @user.registration_source == 'web' %>
  <br/>
  <div align="center" style="margin-top: 15px;"><a class="cta" href="<%= @base_url %>/login">Im Web anmelden</a></div>
<% end %>
<br/>
Viele Grüße<br/>
das Team von Smart Wendeler Land

