Hallo <%= @user.firstname %> <%= @user.lastname %>,<br/>
<br/>
dein Profil auf der Gesundheits- und Pflegeplattform wurde soeben freigeschaltet!<br/>
Ab sofort stehen dir weitere Funktionen auf der Gesundheits- und Pflegeplattform zur Verfügung, mit denen du dein Angebotsprofil weiter ergänzen und individualisieren kannst:<br/>
<br/>
<img src="https://pocket-rocket-customers.s3.eu-central-1.amazonaws.com/landkreis-wnd/complete_profile.png" width="100%">
<br/>
<br/>
Mit freundlichen Grüßen<br/>
dein Team vom Smart Wendeler Land

