Hey <%= @user.firstname %> <%= @user.lastname %>,

unsere digitale Projektplattform ist ab sofort online. Diese bündelt alle Projekte des Smart Wendeler Landes. Darauf können Bürgerinnen und Bürger Projekte bewerten, kommentieren und an Umfragen zur Gestaltung des Landkreises teilnehmen. Wir würden uns freuen, wenn Du unsere Plattform besuchst, um Dich zu informieren und mit Deiner Meinung zum Gelingen dieses Projektes beitragen würdest:

Bitte sende uns Dein Feedback zur Plattform an info@pocket-rocket.io. Wir wünschen Dir viel Spaß.
Melde Dich mit Deiner E-Mail und folgendem Passwort an. Bitte ändere Dein Passwort unter „Mein Account“:

<%= @user.password %>

<%= @base_url %>/login

Viele Grüße,
das Team von Smart Wendeler Land
