Herzlich Willkommen <%= @user.firstname %> <%= @user.lastname %>,<br/>
<br/>
wir freuen uns, dich auf der Gesundheits- und Pflegeplattform des Smart Wendeler Landes begrüßen zu dürfen!<br/><br/>
Du hast nun die Möglichkeit dein eigenes Profil zu erstellen, um dein(e) Gesundheitsangebot(e) gezielt der Landkreisbevölkerung, aber auch Gästen und am Landkreis Interessierten präsentieren zu können.<br/><br/>
Klicke einfach auf <a href="<%= @base_url %>/login"><u>mein Profil erstellen</u></a> und melde dich mit deiner E-Mail und folgendem Passwort an: <br/>
<div align="center" style="font-size:32px;font-weight:bold; border:1px solid grey;border-radius:20px; padding: 7px; margin: 15px;"><%= @user.password %></div>
In der Zwischenzeit verifizieren wir deinen Account. Die Überprüfung dauert in der Regel einen Tag. Wir benachrichtigen dich, sobald wir deine Informationen bestätigt haben und dein Profil veröffentlicht wird. Dazu erhältst du eine gesonderte E-Mail von uns.<br/><br/>
Solltest du die Registrierung nicht ausgelöst haben, ignoriere diese E-Mail und lösche sie. Deine E-Mail-Adresse wird nach 48 Stunden automatisiert zur Löschung markiert. Weitere Aktivitäten deinerseits sind nicht erforderlich.<br/><br/>

<% if @user.registration_source == 'web' %>
  <div align="center" style="margin-top: 15px;"><a class="cta" href="<%= @base_url %>/login">Im Web anmelden</a></div>
<% end %>
<br/>
Mit freundlichen Grüßen<br>
dein Team vom Smart Wendeler Land

