Hallo,<br/>
<br/>
ein Benutzer hat seine Daten aktualisiert. Hier die neuen Daten:<br>
<br>
Name: <%= @user.firstname %> <%= @user.lastname %><br>
E-Mail: <%= @user.email %><br>
<% if @user.care_facilities %>
  Name der ersten Einrichtung: <%= @user.care_facilities[0].name %><br>
  Telefon:<%= @user.care_facilities[0].phone %><br>
  Straße: <%= @user.care_facilities[0].street %><br>
  PLZ: <%= @user.care_facilities[0].zip %><br>
  Ort: <%= @user.care_facilities[0].town %><br>
  <% if @user.care_facilities[0].community %>
    Gemeinde: <%= @user.care_facilities[0].community.name %><br>
  <% end %>
<% end %>
Bitte schalte den Benutzer wieder frei!
<br/>
Viele Grüße<br/>

